body{
    font-family: monospace;
    overflow-x: hidden;
    font-size: 15px;
    background: #479fde;
}

*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.container{
    width: 100%;
    margin: auto;
    /* max-width: 90%; */
    transition: transform 1s ease-in-out;
}
nav .logo{
    width: 100px;
    padding-left: 1rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 17vh;
    background: aliceblue;
    width: 100%;
    z-index: 11;
    position: sticky;
    top: 0;

}

.nav-list{
    display: flex;
    list-style: none;
    font-size: 1.5rem;
}
.nav-list li{
    margin-right: 2rem;
    position: relative;
    cursor: pointer;
}
.nav-list a{
    text-decoration: none;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

.nav-list li a:hover, .nav-list li a.active{
    color: #479FDE;
}

.nav-list li a.active::after, .nav-list li a:hover::after{
    content: "";
    width: 100%;
    height: 2px;
    background: #479FDE;
    position: absolute;
    bottom: -4px;
    left: 0;

}

.totalQuantity{
    position: absolute;
    top: -5px;
    right: 10px;
    font-size: 12px;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: aliceblue;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(20px);
}

.listProduct .sneaker-box button{
    position: absolute;
    bottom: 150px;
    background-color: #088178;
    color: #fff;
    border: none;
    padding: 15px 20px;
    box-shadow: 0 10px 50px #000;
    cursor: pointer;
    transform: translateX(-50%) translateY(100px);
    opacity: 0;
    border-radius: 5px;
}
.listProduct .sneaker-box:hover button{
    transition:  0.5s;
    opacity: 1;
}


.just-dropped span{
    position: relative;
}
.just-dropped span button{
    position: absolute;
    bottom: 150px;
    left: 50%;
    background-color: #088178;
    color: #fff;
    border: none;
    padding: 15px 20px;
    box-shadow: 0 5px 20px #000;
    cursor: pointer;
    transform: translateX(-50%) translateY(100px);
    opacity: 0;
    border-radius: 5px;
}
.just-dropped span:hover button{
    transition:  0.5s;
    opacity: 1;
}


/* CART  */
.cart{
    color: #fff;
    position: fixed;
    width: 50vw;
    max-width: 80vw;
    height: 100vh;
    background-color: #0E0F11;
    top: 0;
    right: -100%;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    /* gap: 20px; */
    transition: right 1.5s ease-in-out;
    
}

.cart h2{
    color: #E8BC0E;
    padding: 20px;
    height: 30px;
    margin: 0;
}

.cart .listCart .item{
    display: grid;
    grid-template-columns: 50px 1fr 70px;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    
}

.cart .listCart img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 10px;
}

.cart .listCart .item .name{
    font-weight: bold;
}
.cart .listCart .item .quantity{
    display: flex;
    justify-content: end;
    align-items: center;
}
.cart .listCart .item .quantity span{
    display: block;
    width: 50px;
    text-align: center;
}

.cart .listCart{
    padding: 20px;
    overflow: auto;
}
.cart .listCart::-webkit-scrollbar{
    width: 0;
}

.cart .buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}
.cart .buttons div, .cart .buttons  a{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    
}
.cart .buttons a{
    color: #fff;
    text-decoration: none;
    background-color: #E8BC0E;
}

.cart .buttons .checkout{
    background-color: #E8BC0E;
}

.quantity button{
    width: 20px;
    flex: auto;
}

/* HERO */
.hero-img{
    width: 100%;
    background-image: url(./images/hero.jpg);
    background-position: center;
    background-size: cover;
    background-position-y: top;
    height: 450px;
}

.section-heading{
    font-size: 4rem;
    color: aliceblue;
    margin: 4rem 0 4rem 4rem  ;
}

/* CAROUSEL */
.gallery{
    width: 900px;
    display: flex;
    overflow-x: scroll;
}

.gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    padding-right: 15px;
    gap: 15px;
    flex: none;
}

.gallery .just-dropped img{
    border-radius: 10px;
    width: 100%;
    transition: transform 0.5s;
}
/* .gallery .just-dropped img:hover{
    transform: scale(1.05);
} */

.gallery .coming-soon img{
    border-radius: 10px;
    width: 100%;
    filter: grayscale(100%);
    transition: transform 0.5s;
}
.gallery .coming-soon img:hover{
    filter: grayscale(0);
    /* transform: scale(1.05); */
}

.gallery::-webkit-scrollbar{
    display: none;
}

.gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.backBtn, .nextBtn{
    font-size: 4vw;
    color: aliceblue;
    cursor: pointer;
    margin: 50px;
}


/* BLOG */
.blog-header{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    margin-top: 4rem;
    color: aliceblue;
}
.blog-box{
    background-image: url(./images/Nike-AF1-40th-Anniversary-Blog-14.jpg);
    height: 400px;
    margin-bottom: 3rem;
    position: relative;
    background-position: center;
    background-size: cover;
}
.blog-box::after {
    content: ''; /* Required for pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust opacity here (0.5 for 50% opacity) */
}

.blog-box ,h2{
    font-size: 4rem;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; ensure stacking content */
    z-index: 1;
}



/* FEATURED SNEAKERS */

.featured-sneaker{
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

.sneaker-box{
    width: fit-content;
    /* height: 150px; */
    text-align: center;
    position: relative;
}

.sneaker-text i{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
}
.listProduct{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 6rem;
}

/* NEWSLETTER */

.newsletter{
    position: relative;
    background-image: url(./images/newsletter.webp);
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 3rem 0;
}
.newsletter::after {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}
.newsletter h2{
    position: relative;
    z-index: 1;
    color: black;
    
}
.newsletter .email{
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 9;
}
.newsletter .submit-button{
    background-color: #088178;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    white-space: nowrap;
    border: none;
    outline: none;
    width: 7rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.newsletter form{
    display: flex;
    width: 40%;
}
.form-box{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

/* FOOTER */
footer li{
    list-style: none;
}
.footer-list1{
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 2rem;
    color: aliceblue;
}

.footer-list2{
    margin-top: 2rem;
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    color: aliceblue;
}

.footer-list3{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    font-weight: 600;
    gap: 1rem;
}
footer p{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: smaller;
}
/* CONTACT PAGE */
.contact-box {
    width: 50%;
    margin: 5rem auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-box h1{
    text-align: center;
    margin-bottom: 30px;
    color: #000;
}

.contact-box label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
}

.contact-box input[type="text"],
.contact-box input[type="email"],
.contact-box textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}

.contact-box input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.contact-box input[type="submit"]:hover {
    background-color: #3e8e41;
}


/* BLOG */
#blog-content{
    margin: 50px 50px;
}

/* MOBILE OVERLAY*/
#mobile{
    display: none;
    align-items: center;
}
#mobile fa-bag-shopping{
    padding-right: 5px;
}
#close{
    display: none;
}


/* MEDIAQUERIES */

@media (max-width:700px) {
    .nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        position: fixed;
        top:-100%;
        right: 0;
        height: 70%;
        width: 100% ;
        background-color: #dae1db;
        box-shadow: 0 40px 60px rgb(0, 0, 0, 0.1);
        padding:80px 0 0 10px ;
        transition: 0.5s;
    }

    .nav-list.active{
        top: 0;
    }
    .nav-list li{
        margin-bottom: 30px;
    }
    #mobile{
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    #mobile i{
        color: #1a1a1a;
        font-size: 1.7rem;
        margin-left: 20px;
    }
    #mobile #bar{
        padding-right: 10px;
    }
    #mobile .iconCart{
        position: relative;
        z-index: -1;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #1a1a1a;
        font-size: 24px;
    }
    body {
        font-size: 13px;
    }

    h2 {
        font-size: 2rem;
    }
    .section-heading {
        font-size: 3rem;
        color: aliceblue;
        margin: 2rem 0 2rem 2rem;
    }
    /* hero */
    .hero-img {
        height: 280px;
    }
    /* carousel */
    .hide-icon{
        display: none;

    }
    
    .backBtn, .nextBtn{
        margin: 7px;
    }

    /* blog */
    .blog-box {
        height: 250px;
    }

    /* featured */
    .listProduct {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-bottom: 6rem;
    }
    .featured-sneaker{
        width: 200px;
        height: 200px;
    }
      .sneaker-text {
        font-size: 10px;
        text-wrap: wrap;
    }
    .listProduct .sneaker-box button {
        bottom: 140px;
        padding: 10px 15px;
        box-shadow: 0 5px 30px #000;
        font-size: 12px;
    }

    /* newsletter */
    .newsletter {
        height: 150px;
    }
    .newsletter .submit-button {
        font-size: 15px;
        font-weight: 400;
        width: 10rem;
    }
    .newsletter form{
        display: flex;
        width: 52%;
    }
    .newsletter .email {
        height: 2.8rem;
        padding: 0 1.25rem;
    }
    /* contact */
    .contact-box {
        width: 70%;
        margin: 5rem auto;
        padding: 20px;
        background-color: #f2f2f2;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
}


@media (max-width:480px) {
    /* nav */
    nav .logo {
        width: 80px;
    }
    nav {
        height: 15vh;
    }

    /* carousel */
    .backBtn, .nextBtn {
        display: none;
    }
    
    .gallery div{
        width: 151%;
    }
    
    .section-heading {
        font-size: 2rem;
        color: aliceblue;
        margin: 2rem 0 2rem 2rem;
    }
    /* blog */
    .blog-header {
        font-size: 2rem;
    }
    /* featured */
    .listProduct .sneaker-box button {
        bottom: 145px;
        padding: 10px 8px;
        box-shadow: 0 5px 20px #000;
        font-size: 10px;
        width: max-content;
    }
    
    /* newsletter */
    .newsletter form{
        display: flex;
        width: 60%;
    }
    .newsletter .email {
        height: 2.5rem;
    }
    /* footer */
    .footer-list3 {
        margin-bottom: 1rem;        
        padding-left: 10px;
        font-weight: 400;
    }
    /* conatact */

}

@media (max-width:407px) {
    /* nav */
    nav {
        height: 12vh;
    }
    .h2 {
        font-size: 1.3rem;
    }
    /* carousel */
    .gallery div {
        padding-right: 10px;
        gap: 10px;
    }
    /* cart */
    .cart{
        width: 100vw;
    }
    .section-heading {
        font-size: 1.8rem;
        color: aliceblue;
        margin: 1rem 0 1rem 1rem;
    }
    /* hero */
    .hero-img {
        height: 200px;
    }

    /* blog */
    .blog-box {
        height: 200px;
    }
    .blog-header{
        font-size: 1.8rem;
    }
    /* featured */

    .featured-sneaker{
        width: 120px;
        height: 120px;
    }
    .sneaker-box{
        height: 163px;
    }
    .sneaker-text h3,h4{
        font-size: 10px;
        text-wrap: wrap;
    }
    /* newsletter */
    .newsletter form{
        width: 90%;
    }
    .newsletter .email {
        height: 2rem;
    }
    /* footer */
    .footer-list3 {
        font-weight: 500;
        font-size: 10px;
        flex-wrap: wrap;
    }
    footer p {
        font-weight: 600;
        font-size: 10px;
    }

}